.App {
  text-align: center;
  height: 100%;
  background-color: gainsboro;
  position: relative;
}

/* Both a tags is for smooth scrolling*/
a.active {
  border-bottom: 2px solid white;
}

p {
  font-size: 1.3em;
}

a:hover {
  cursor: pointer;
}

html::-webkit-scrollbar {
  width: 10px;
  background: gainsboro;
  
}

html::-webkit-scrollbar-thumb {
  background: rgba(20, 97, 200, 1);
}

html::-webkit-scrollbar-track {
  background: transparent;
  border-radius: 1em;
}